

h1 { 
    color: black; 
    font-family: 'Edu TAS Beginner', cursive;
    font-weight: bold;
    margin-top: 30px; 
    font-size: 90px;
}

h2 {

color: black;
font-family: 'Edu TAS Beginner', cursive;
font-weight: bold;
}


P {
    font-family: 'Playfair Dipslay', sans-serif;
    font-weight: normal;
}


.hero {
    background-color: rgb(107, 233, 237);
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 100px;
}
